html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

.link-gray-mobile {
    color: hsla(0, 0%, 100%, .7);
}

.link-white-mobile {
    color: white;
}

h2 {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 2;
}

button, input {
    outline: none;
}

/*------------------------------*\
    Header
\*------------------------------*/

header {
    background-color: #24292e;
}

.header-main {
    display: flex;
    justify-content: space-between;
    
}

.header-menu-mobile {
    /* display: flex; */
}

.header-icons {}

.header-logo {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.header-logo a {
    text-decoration: none;
    color: white;
    margin-left: 16px;
}

#logo-icon {
    font-size: 32px;
}

ul.menu-list {
    display: flex;
    align-items: center;
}

ul.menu-list li {
    margin-right: 16px;
}

li.menu-list-item {
    list-style: none;
}

.menu-list-item-icon {
    font-size: 18px;

}

.menu-list-item button {
    color: hsla(0, 0%, 100%, .7);
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 18px;
}


/*------------------------------*\
    Header menu mobile
\*------------------------------*/

.nav-menu-mobile {
}

nav.nav-menu-header-mobile {
    margin-top: 5px;
    border-top: #444d56 1px solid;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.search-github {
    background-color: hsla(0, 0%, 100%, .125);
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
}

.search-github label input {
    width: 100%;
    background: none;
    border: 0;
    font-size: 16px;

}

.menu-list-mobile {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

nav>ul.menu-list-mobile li {
    border-top: .2px solid #444d56;
}

.list-item-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-item-mobile a {
    width: 100%;
    font-weight: 600;
}

/*------------------------------*\
    Section repositories
\*------------------------------*/

section.my-repositories {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
}

.repositories-mobile {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin-bottom: 10px;
}

.search-repositories-mobile {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 8px 10px 8px;
    border: 1px solid #d1d5da;
}

.search-repositories-mobile input {
    border: none;
    font-size: 14px;
}

.list-repositories-mobile {
    padding-left: 10px;
    margin: 0;
}

.list-repositories-mobile li a {
    color: blue;
}

#show-more {
    padding-left: 10px;
    margin-bottom: 10px;
}

#show-more a {
    font-size: 12px;
    color: gray;

}

/*------------------------------*\
    Media Queries Tablet
\*------------------------------*/

@media only screen and (min-width: 640px) {

    .header-menu-mobile {
        display: flex;
        width: 100%;

    }
    .header-main{
        align-items: center;
        padding: 10px;
    }

    .header-logo {
        margin-right: 15px;
    }

    .header-icons {
        display: none;
        float: right;
    }
    .header-logo {
        padding: 0px;
    }

    .search-github {
        margin-right: 30px;
        width: 40%;
    }

    .nav-menu-mobile {
        display: flex; 
        align-content: center; 
        width: 100%;
    }
    
    .nav-menu-header-mobile {
        display: flex;  
        align-items: center;
        border-top: 0!important;
        margin: 0!important;
        padding: 0!important;
    }

    .menu-list-nav {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .menu-list-item button {
        display: none;
    }

    .list-item-nav {
        border-top: 0!important;
        margin-right: 15px;
        padding: 0;
    }

    .list-item-nav:last-child {
        display: none;
    }


}

/*------------------------------*\
    Media Queries Desktop
\*------------------------------*/

@media only screen and (min-width: 640px) {
 
}